extends layout2

block content

    section
      .container
        .row
          .col-md-offset-2.col-md-8

            .users-content
                h1.title-users DETALLE DE TU COMPROBANTE

                .ticket-content
                    
                    if codigo == 2
                        .row
                            .col-md-12
                                a.close(href='#', onclick='cerrar()') ×
                        .row
                            .col-md-12.text-center
                                label.ticket-error El comprobante no existe, intenta de nuevo.
                        .row
                            .col-md-offset-1.col-md-10
                                a.btn.btn-primary.btn-lg.btn-users-100.btn-responsive(href='/consulta-comprobante', type='button')
                                    i.glyphicon.glyphicon-circle-arrow-left 
                                    | REALIZAR OTRA CONSULTA
                        br       
                        
                    else
                        .row
                            .col-md-12
                                a.close(href='#', onclick='cerrar()') ×
                        .row
                            .col-md-4
                                label No. de autorización: 
                            .col-md-8
                                span.response #{data.autorizacion}
                        .row
                            .col-md-4
                                label Fecha de Captura: 
                            .col-md-8
                                span.response #{data.fechaCaptura}
                        .row
                            .col-md-4
                                label Folio: 
                            .col-md-8   
                                span.response #{data.folio}
                        .row
                            .col-md-4
                                label Servicio: 
                            .col-md-8
                                span.response #{data.servicio}
                        .row
                            .col-md-4
                                label Referencia: 
                            .col-md-8
                                span.response #{data.referencia}
                        .row
                            .col-md-4
                                label Monto: 
                            .col-md-8
                                span.response $#{data.monto}
                        .row
                            .col-md-4
                                label Estatus: 
                            .col-md-8
                                span.response #{data.respuesta}
                        br
                        br
                        .row
                            .col-md-12.text-center
                                span.response #{data.leyenda}
                        .row
                            .col-md-offset-1.col-md-10
                                a.btn.btn-primary.btn-lg.btn-users-100.btn-responsive(href='/consulta-comprobante', type='button')
                                    i.glyphicon.glyphicon-circle-arrow-left
                                    | REALIZAR OTRA CONSULTA
                        br
                            
                            
